:root {
    --dark-60: #131313;
    --dark-40: #767474;
    --dark-30: #DCDCDC;
    --dark-20: #F4F4F4;
    --blue-primary: #1D6DEC;
    --pink-primary: #EF355E;
    --white: #FFFFFF;
    --success: #3CCF4E;
    --error: #E30815;
    --alert: #FAB95B;
  }

.title1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.title2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.title3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.subtitle{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.boldBody{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.bodyText{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.smallTextBold{
    font-family: 'Inter', sans-serif;
    font-weight:600;
    font-size: 14px;
}

.smallText{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.preTextB{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.preText{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.w-body{
    max-width: 90rem;
}

.w-table{
    min-width: 1050px;
}

.progressBar{
    max-width: 250px;
}